.nav-mobile{
    position: absolute;
    display: none;
    flex-direction: column;
    left: 35%;
    top: 25%;
}
.wrapper-mobile{
    position: absolute;
    display: flex; 
    flex-direction: row;
    right: 0;
    top: 0;
    width: 100%;
    height: 568px;
    border-radius: 4%;
    z-index: 1;
    background: linear-gradient(180deg, #073336 0%, #073429 24.48%, #062E32 49.48%, #000C06 72.92%, #092921 97.92%);
}
.nav-mobile-header{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    left: 0;
    top: 16px;
}
.navmobile-div-btn{

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400; 
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 5px;
    width: 35%;
    height: 40px;
    background: #BEFF0D;
    border-radius: 7.29px;
    position: absolute;
    left: 40%;

}
.nav-mobile-icon{
    position: absolute;
    left: 10%;
    top: 5px;
}
.nav-mobile-logo{
    
    position: absolute;
    width: 65px;
    height: 65px;
    left: 0;
    top: 0px;

}
.nav-mobile-close{
    color: #FFFFFF;
    font-size: 1.4rem;
    position: absolute;
    right: 10%;
}
.nav-mobile{
    width: 60%;
    height: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20%;
    top: 25%;
    align-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    /* display: none; */
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: calc(0.011 * 16px);
    text-transform: uppercase;
}

.nav-item--link {
    text-decoration: none;
    color: #C8C7D8;
}

@media only screen and (max-width: 740px) 
{
    .wrapper-mobile{
        display: block;
    }
}