/* About-Us */
.about-us {
    position: absolute;
    width: 100%;
    height: 661px;
    left: 0;
    top: 1541px;
    background-color: #092921;
  }
  
  .group {
    display: flex;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0%;
    left: 10%;
    right: 10%;
    bottom: 0;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .about-bg-line {
    position: absolute;
    width: 100%;
    height: 661px;
    left: 0px;
    top: 0px;
    opacity: 0.12;
    visibility: hidden;
  
  }
  
  .group-frame1 {
    box-sizing: border-box;
    position: absolute;
    width: 33%;
    height: 256px;
    right: 0;
    

  
  }
  
  .video-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 12px;
  
    position: absolute;
    width: 174px;
    height: 78px;
    left: calc(50% - 174px/2);
    top: calc(50% - 78px/2);
  
    border-radius: 8px;
  }
  
  .video-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 12px;
  
    position: absolute;
    width: 174px;
    height: 78px;
    left: calc(50% - 174px/2);
    top: calc(50% - 78px/2);
  
    border-radius: 8px;
  }
  
  .btn-icon {
    box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
  
    font-size: 1.6rem;
    color: #FFFFFF;
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .text-btn {
    width: 107px;
    height: 24px;
    margin: 0;
  
    /* Button */
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    letter-spacing: 1px;
    text-transform: capitalize;
  
    color: #FFFFFF;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .blog-post {
    box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  
    position: absolute;
    visibility: hidden;
    width: 392px;
    height: 440px;
    left: 0px;
    top: 0px;
  
    /* Background/Secondary */
  
    background: #393953;
    border-radius: 16px;
  }
  
  .blog-img-block {
    width: 392px;
    height: 224px;
    border-radius: 16px;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .about-img{
    width: 100%;
    height: 100%;
    border: 1px solid #BEFF0D;
    border-radius: 15px;
  }
  .blog-section-divider {
    position: absolute;
    visibility: hidden;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  
    /* Secondary/$secondary-l3 */
  
    background: #E7E7ED;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
  
    display: none;
    width: 392px;
    height: 216px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .blog-content-frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  
    width: 344px;
    height: 128px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .text-category {
    width: 344px;
    height: 24px;
  
    /* Desktop/Mono Paragraph Medium */
  
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    display: flex;
    align-items: center;
  
    /* Text/Icon/Secondary */
  
    color: #C8C7D8;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .text-article {
    width: 344px;
    height: 32px;
  
    /* Desktop/Heading Medium */
  
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
  
    display: flex;
    align-items: center;
    letter-spacing: -0.019em;
  
    /* Text/Icon/Primary */
  
    color: #FFFFFF;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  
  .blog-content-frame2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
  
    width: 147px;
    height: 24px;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .text-jan {
    width: 147px;
    height: 24px;
  
    /* Desktop/Mono Paragraph Medium */
  
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    display: flex;
    align-items: center;
  
    /* Text/Icon/Secondary */
  
    color: #C8C7D8;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .group-frame2 {
    position: absolute;
    width: 50%;
    height: 256px;
    left: 0;
    
  }
  
  .sparkle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    /* Accent/Brand */
  
    /* background: #BEFF0D; */
  }
  
  .frame-text {

    padding: 0px;
   
    position: absolute;
    width: 100%;
    height: 244px;
    
    top: 0px;
  }
  

  
  .heading-text {
    width: 100%;
    height: 48px;
  
    /* Desktop/Heading Large */
    text-align: start;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    /* identical to box height, or 120% */
  
    letter-spacing: -0.022em;
  
    /* Text/Icon/Primary */
  
    color: #FFFFFF;
  
  
    /* Inside auto layout */
  
 
  }
  
  .sp-text {
    width: 483px;
    height: 127px;
    text-align: start;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
  
    letter-spacing: -0.014em;
  
    /* Text/Icon/Secondary */
  
    color: #C8C7D8;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .frame-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
  
    width: 45%;
    height: 24px;
  
  

  }
  
  .frame-action :hover {
    cursor: pointer;
    color: rgb(210, 109, 14);
  }
  
  .read-more {
    width: 175px;
    height: 24px;
  
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
  
    letter-spacing: -0.014em;
  
    /* Accent/Brand */
  
    color: #BEFF0D;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .read-arrow-right {
    width: 24px;
    height: 24px;
    padding-bottom: 32px;
    font-size: 1.3rem;
    color: #BEFF0D;
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .read-more-icon {
    position: absolute;
  
  
  }


  @media only screen and (max-width: 560px) {
    .about-us{
      top: 892px;
    }
    .group{
      flex-direction: column;
    }
    .frame-text, 
    .group-frame1, 
    .group-frame2, 
    .heading-text, 
    .sp-text,
    .frame-action {
      width: 100%;

    }
    .frame-text{
      height: 100%
    }
    .group-frame1{
      margin-top: 40px;
    }
    .group-frame2{
      position: unset;
    }
    .heading-text{
      font-size: 24px;
      letter-spacing: calc(0.017 * 24px);
      text-align: center;
    }
    
    .sp-text {
      text-align: center;
      margin-top: 256px;
    }
    .frame-action {
      margin-top: 35%;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 280px) {
    .frame-action{
      margin-top: 70%;
    }
  }


  @media only screen and (min-width: 561px) and (max-width: 740px){
    .about-us{
      top: 892px;
    }
    .group{
      flex-direction: column;
    }
    .frame-text, 
    .group-frame1, 
    .group-frame2, 
    .heading-text, 
    .sp-text,
    .frame-action {
      width: 100%;

    }
    .frame-text{
      height: 100%
    }
    .group-frame1{
      margin-top: 40px;
    }
    .group-frame2{
      position: unset;
    }
    .heading-text{
      font-size: 24px;
      letter-spacing: calc(0.017 * 24px);
      text-align: center;
    }
    
    .sp-text {
      text-align: center;
      margin-top: 256px;
    }
    .frame-action {
      margin-top: 10%;
      justify-content: center;
    }
  }