.navbar {
    height: 128px;
    background-color: #004400;
}
.img-logo {
    position: absolute;
    width: 79px;
    height: 71px;
    left: 0;
    margin: 0;
    margin-left: 125px;
    
    text-align: center;
    
    
}
.navbar-collapse {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navbar-nav {
    display: inline-block;
    margin-right: 125px;
}
.nav-link {
    text-decoration: none;
    width: 100px;
    display:inline-block;
    padding: 25px 20px;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin-right: 7px;
    
}
.btn-wh {
    width: 118px;
    height: 44px;
    
    
    gap: 10px;
    background: #BEFF0D;
    border-radius: 7.29px;
    flex: none;
    order: 1;
    flex-grow: 0;
}