.navbar {
    height: 128px;
    /* background: linear-gradient(180deg, #073336 0%, #073429 24.48%, #062E32 49.48%, #000C06 72.92%, #092921 97.92%); */
}
.navbar-collapse {
    position: inherit;
    height: auto;
    list-style: none;

    text-align: right;
    margin-left: 125px;
    margin-right: 125px;
}
.navbar-nav {
    
    display: inline-block;
    
    
}
.container-fluid{
    padding: 0px;
}
.img-logo {
    position: absolute;
    width: 79px;
    height: 71px;
    left: 0;
    top: 30px;
    padding: 24px, 33px, 24px, 33px ;
    margin: 0px 125px 0px 100px;
    
    text-align: center;
    
   
    
    
}


.nav-link {
    text-decoration: none;
    width: 100px;
    display:inline-block;
    padding: 25px 20px;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin-right: 7px;
    
    
}
.btn-wh {
    width: 118px;
    height: 44px;
    
    padding: 24px, 32px, 24px, 32px;
    gap: 10px;
    background: #BEFF0D;
    border-radius: 7.29px;
    flex: none;
    order: 1;
    flex-grow: 0;
}