

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 128px;
    left: 0px;
    top: 0px;
    background-color: #092921;

}

.navbar-collapse {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;



}



.img-logo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 5%;
    top: 10%;




}

.icon-bar{
    color: #FFFFFF;
}



.navbar-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 80%;
    height: 100%;

}






.frame-com {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 3%;
    right: 5%;
    width: 85%;
    height: 45%;
    /* flex-wrap: nowrap; */
    justify-content: flex-end;



}

.item-link1, .item-link2, .item-link3, .item-link4, .item-link5, .item-link6, .item-link7{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: -0.011em;

    /* Text/Icon/Secondary */

    color: #C8C7D8;
    text-decoration: none;
}


.div-btn {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 2px;
    width: 15%;
    height: 100%;
    background: #BEFF0D;
    border-radius: 7.29px;
    flex: none;
    order: 7;
    flex-grow: 0;
    flex: none;
    order: 7;
    flex-grow: 0;

}

.div-btn :hover {

    /* Accent/Brand */



    cursor: pointer;
}



.arrow-right {
    display: flex;
    width: 16px;
    height: 16px;
    font-size: 0.9rem;
    /* padding-bottom: 20%; */
    flex-direction: row;
    align-items: center;


}

a:hover {

    color: #BEFF0D;
    cursor: pointer;
}
.navbar-btn{
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    color: #FFFFFF;
    display: none;
}

@media only screen and (max-width: 560px){
    .navbar{
        height: 104px;
    }
    .img-logo{
        top: 5%;
    }
    .navbar-btn {
        display: flex;
        position: absolute;
        right: 10%;
        align-items: center;
        
        justify-content: flex-end;
        
        
    }
    .frame-com {
        display: none;
        flex-direction: column;

    }
    


    

}

@media only screen and (min-width: 561px) and (max-width: 740px) {
    .navbar{
        height: 104px;
    }
    .img-logo{
        top: 5%;
    }
    .navbar-btn {
        display: flex;
        position: absolute;
        right: 10%;
        align-items: center;
        
        justify-content: flex-end;
        
    }
    .frame-com {
        display: none;
        flex-direction: column;

    }
}


@media only screen and (min-width: 741px) and (max-width: 1024px){
    .navbar-collapse{
        padding: unset;

    }
    .img-logo{
        left: 3%;
    }
    .navbar-menu{
        width: 90%;
        padding-left: 9%;
        justify-content: flex-start;
    }
    .frame-com{
        right: unset;
        width: 90%;
        justify-content: space-evenly;
    }
    .div-btn{
        width: 12%;
        gap: 5px;
        font-weight: 600;
        font-size: 9px;
    }
    .arrow-right{
        font-size: 0.7rem;
        display: unset;
        /* padding-bottom: 20%; */
    }
    .item1, .item2, .item3, .item4, .item5, .item6, .item7{
        width: unset;

    }
    .item-link1, .item-link2, .item-link3, .item-link4, .item-link5, .item-link6, .item-link7{
        font-size: 10px;
        line-height: 20px;
        letter-spacing: calc(-0.011 * 10px);
    }
}