
.hero-section {

  
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
left: 0;
gap: 10px;

position: absolute;
width: 1440px;
height: 736px;

top: 128px;  
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(2, 28, 29, 0.7) 100%);
    
  }
  
.hero-bg{
  display: flex;
  flex-direction: column;
  left: 0;
  align-items: flex-start;
  position: absolute;
width: 1440px;
height: 736px;
}
  
  .hero-info {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.5) 1%,
        rgba(3, 29, 30, 0.7) 100%);
  }
  
  .hero-heading {
  
    font-family: Noto Sans;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.22rem;
    padding-top: 89px;
    background: -webkit-linear-gradient(114.79deg,
        rgba(190, 255, 13, 1),
        rgba(47, 255, 13, 0.36));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .hero-sub {
    max-width: 580px;
    margin: 0px auto 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  
  .hero-inner {
    max-width: 810px;
    margin: auto;
  }
  
  .nav-link {
  
    padding: 0px;
  }
  
  .hero-icon {
  
    width: 80px;
    height: 80px;
    object-fit: cover;
  
  }
  
  
  .hero-socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 610px;
    margin: auto;
  
  
  }