.roadmap-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #092921;
    position: absolute;
    width: 100%;
    height: 1796px;
    left: 0px;
    top: 3785px;
}

.roadmap {
    width: 100%;
    height: 1696px;


}

.roadmap-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 78.36%;
    height: 1529px;
    left: calc(50% - 78.36%/2);
    top: calc(50% - 1529px/2 + 0.5px);
}

.roadmap-heading-sp-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 100%;
    height: 3.15%;
}

.roadmap-heading-text {


    /* Desktop/Heading Large */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: auto;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: -0.022em;

    /* Gradient/Brand */

    background: linear-gradient(325.79deg, #BEFF0D 24.5%, rgba(47, 255, 13, 0.36) 117.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.roadmap-group {
    width: 100%;
    height: 96%;

}

.roadmap-line {
    position: absolute;
    
    height: 89.63%;
    left: 49%;
    top: 4%;
    border: 5px solid #FFFFFF;
    opacity: 1;
    transform: rotate(180deg);
}

.line-group1, .line-group2, .line-group3, .line-group4, .line-group5, .line-group6{
    position: absolute;

    
}
.line-group1{
    width: 60%;
height: 13.5%;
left: 36.3%;
top: 4.5%;
}
.line-group2{
    width: 60%;
    height: 16.5%;
    left: 3.9%;
    top: 20%;

}
.line-group3{
    width: 60%;
    height: 15%;
    left: 36.3%;
    top: 37%;
}
.line-group4{
    width: 60%;
    height: 206px;
    left: 4%;
    top: 55.5%;

}
.line-group5{
    position: absolute;
    width: 55%;
    height: 15%;
    left: 41.3%;
    top: 70%;
    
    
}
.line-group6{
    width: 59%;
    height: 14%;
    left: 3.87%;
    top: 88%;
}

.shape-ellipse1, .shape-ellipse2, .shape-ellipse3, .shape-ellipse4, .shape-ellipse5, .shape-ellipse6 {
    position: absolute;
    width: 6.5%;
    
    border-radius: 100%;
    

/* Background/Secondary Hover */

   
}

.shape-ellipse1{
    width: 6.5%;
    height: 23%;
    top: 40%;
    left: 18.5%;

background: #FFFFFF;
}
/* Base/White */


.shape-ellipse2{
    
    height: 18%;
    top: 36%;
    left: 72.6%;
background: #FFFFFF;
/* Accent/Brand */


}
.shape-ellipse3{
    
    height: 20%;
    top: 40%;
    left: 18.6%;
background: #FFFFFF;
/* Background/Secondary Hover */


}
.shape-ellipse4{
    
    height: 22%;
    top: 44%;
    left: 72.5%;

background: #FFFFFF;
/* Background/Secondary Hover */


}
.shape-ellipse5{
    
    height: 19%;
    
    top: 40%;
    left: 11.4%;
background: #FFFFFF;
/* Background/Secondary Hover */


}
.shape-ellipse6{
    
    width: 6.5%;
    height: 21%;
    top: 36%;
    left: 74%;

background: #FFFFFF;
/* Background/Secondary Hover */


}

.group-roadmap-heading1 ,
.group-roadmap-heading2, 
.group-roadmap-heading3, 
.group-roadmap-heading4, 
.group-roadmap-heading5, 
.group-roadmap-heading6{
    position: absolute;
width: 11.3%;
height: 12%;
margin: 0;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

    color: #FFFFFF;
}

.group-roadmap-heading1, .group-roadmap-heading3, .group-roadmap-heading5{
    top: 45%;
    
}
.group-roadmap-heading2{
    top: 41%;
    right: 0;
    text-align: end;
}
.group-roadmap-heading4{
    top: 50%;
    right: 0;
    text-align: end;
}


.group-roadmap-heading6{
    top: 95px;
    right: 0;
    text-align: end;
}
.line-horizontal1, 
.line-horizontal2, 
.line-horizontal3,
.line-horizontal4,
.line-horizontal5, 
.line-horizontal6{
    position: absolute;
    /* width: 13.8%; */
    height: 0px;
    border: 5px solid #FFFFFF;
    opacity: 1;
}

.line-horizontal1{
    width: 14%;
    top: 41%;
    left: 24.78%;
}
.line-horizontal2{
    width: 14%;
    top: 37%;
    left: 59.19%;
}
.line-horizontal3{
    width: 16%;
    top: 93px;
    left: 178px;
}
.line-horizontal4{
    width: 16%;
    top: 45%;
    left: 59.3%;
}
.line-horizontal5{
    width: 13.8%;
    top: 41%;
    left: 17%;
}
.line-horizontal6{
    width: 13.8%;
    top: 37%;
    left: 60.4%;

}

.roadmap-card1, .roadmap-card2, .roadmap-card3, .roadmap-card4, .roadmap-card5, .roadmap-card6{
    width: 62.7%;
    position: absolute;
    padding: 79px 135px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgb(78 67 67 / 50%) 0%, rgba(255, 255, 255, 0) 100%);
background-blend-mode: soft-light;
/* Accent/Brand */

border: 1px solid #BEFF0D;
filter: drop-shadow(0px 4px 40px rgba(190, 255, 13, 0.5));
border-radius: 30px;
}
.roadmap-card1{
    height: 96.6%;
    left: 38.6%;
    top: 0%;

}
.roadmap-card2{
    height: 96.5%;
    left: -3.5%;
    top: 0%;


}
.roadmap-card3{
    height: 96.5%;
    left: 38.5%;
    top: 3%;
}
.roadmap-card4{
    height: 96.5%;
    left: -3.5%;
    top: 6%;
}
.roadmap-card5{
    height: 96.5%;
    left: 30.5%;
    top: 6%;

}
.roadmap-card6{
    height: 96.5%;
    left: -2.3%;
    top: 1%;


}

.roadmap-content{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
padding: auto;
margin: auto;
color: #FFFFFF;



}
.roadmap-sp-content{
    position: absolute;
    top:10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* or 120% */

display: flex;
align-items: center;
letter-spacing: -0.017em;
}


@media only screen and (max-width: 560px){
    .roadmap-wrap{
        top: 3165px;

    }
    .roadmap-line{
        left: -10%;
    }
    .line-group1{
        left: 0.3%;
    }

    .shape-ellipse1{
    width: 10.5%;
    height: 9.5%;
    top: 10%;
    left: -20%
    }
    .shape-ellipse2{
        width: 10.5%;
        height: 8.5%;
        top: 8%;
        left: -26%;
    }
    .shape-ellipse3{
        width: 10.5%;
        height: 9.5%;
        top: 14%;
        left: -80.4%;
    }
    .shape-ellipse4{
        top: 8%;
        left: -25.5%;
        width: 9.5%;
    height: 9.5%;
    }
    .shape-ellipse5{
        width: 10.5%;
        height: 9.5%;
        top: 15%;
        left: -95.6%;
    }
    .shape-ellipse6{
        width: 10.5%;
    height: 10.5%;
    top: 9%;
    left: -26%;
    }
    .roadmap-card2{
        
        left: 33.5%;
        
    }
    .roadmap-card3{
        
        left: -20.5%;
        top: 8%;
    }
    .roadmap-card4{
        left: 32.5%;
        top: -1%;

    }
    .roadmap-card5{
        left: -31.5%;
        top: 7%;
    }
    .roadmap-card6{
        left: 31.7%;
        top: 2%;

    }
    .line-horizontal1{
        width: 52.8%;
        top: 5%;
    left: -14.22%;
    }
    .line-horizontal2{
        width: 52.8%;
        top: 4%;
    left: -18.81%;
    }
    .line-horizontal3{
        width: 52.8%;
        top: 22px;
    left: -140px;
    }
    .line-horizontal4{
        width: 52.8%;
        top: 3%;
        left: -19.7%;
    }
    .line-horizontal5{
        width: 57.8%;
        top: 11%;
        left: -89%;
    }
    .line-horizontal6{
        width: 52.8%;
        top: 5%;
        left: -20%;
    }
    .group-roadmap-heading1{
        left: 45%;
        top: 5%;
    }
    .group-roadmap-heading2{
        top: 4%;
    left: 80px;
    
    }
    .group-roadmap-heading3{
        left: -10%;
    top: 11%;
    }
    .group-roadmap-heading4{
        top: 5%;
    left: 41%;
    }
    .group-roadmap-heading5{
        top: 13%;
    left: -23%;
    }
    .group-roadmap-heading6{
        top: 21px;
        left: 78px;
        
    }
}