/* Testimonials */


.testimonial {
    position: absolute;
    width: 100%;
    height: 947px;
    align-items: center;
    left: 0px;
    top: 2202px;
    background-color: #092921;
  }
  
.img-nft{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left :43%;
    border: 1px solid #BEFF0D;
    border-radius: 32px;
   
}
  
.eco-heading{

/* Desktop/Heading Large */
    width: 100%;
    height: 100%;
    position: absolute;
    
font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: -0.022em;

/* Text/Icon/Primary */

color: #FFFFFF;

}
.oval{

    width: 92%;
    height: 90%;
    position: absolute;
    border-radius: 100%;
    border-top-left-radius: 296%;
    border-bottom-right-radius: 305%;
    border-top-right-radius: 143%;
    /* border-bottom-left-radius: 165%; */
    right: 0%;
    left: 5%;
    top: 5%;
    bottom: 0%;
    background-color: #092921;


}
.circle{
    width: 14%;
    height: 5%;
    position: absolute;
    border-radius: 100%;
    border-top-left-radius: 332%;
    border-bottom-right-radius: 303%;
    left: 49%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #BEFF0D;
}

.ecosystem{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    top: 5%;
}

.eco-frame1090{
    box-sizing: border-box;
    position: absolute;
    width: 52.8%;
    height: 52.8%;
    top: 14%;
    text-align: center;
}

@media only screen and (max-width: 560px) {
    .testimonial{
        top: 1550px;
        height: 446px;
    }
    .eco-heading{
        width: 100%;
        font-size: 24px;
        line-height: 32px;
    }
    .circle{
        width: 34%;
        height: 8%;
    }
    .eco-frame1090{
        

    width: 83%;
    height: 52.8%;
    top: 17%;


    }
    .img-nft{
        left: 10%;
    }
}