/* Features */

.features-section {
  position: absolute;
  width: 100%;
  height: 756px;
  left: 0;
  top: 797px;
  background-color: #092921;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  gap: 80px;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 477px;
  left: 0px;
  top: 100px;
}

.partner-frame {
  width: 100%;
  height: 48px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 100%;
  height: 48px;
  left: calc(50% - 100% / 2);
  top: 0px;
}

.frame-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  padding-bottom: 508px;
  width: 100%;
  height: 48px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.heading {
  width: 100%;
  height: 48px;

  /* Desktop/Heading Large */

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: -0.022em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.arrow-img {
  opacity: 0.03;
  position: absolute;
  width: 100%;
  height: 756px;
  left: calc(50% - 100% / 2);
  top: calc(50% - 760px / 2);
}

.partner-frame1088 {
  width: 100%;
  height: 230px;
  position: absolute;
  top: 70px;

  /* Inside auto layout */

  /* flex: none;
    order: 1;
    flex-grow: 0; */
}

.control-left {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 129px;
  top: 165px;
}

.control-frame-left {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;

  /* Base/Black */

  background: #1c1c28;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 100px;

  font-size: 1.6rem;
  color: #beff0d;
}

.control-right {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 129px;
  top: 165px;

  border-radius: 100px;
}

/* .arrow-right{
    font-size: 3rem;
    color: #FFFFFF;
  } */

.control-frame-right {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;

  /* Base/Black */

  background: #1c1c28;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 100px;

  font-size: 1.6rem;
  color: #beff0d;
}

.fa-arrow-right-icon,
.fa-arrow-left-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: calc(50% - 24px / 2);
  top: calc(50% - 24px / 2);
}

.partner-list {
  position: absolute;
  width: 68%;
  left: 15%;
  display: flex;
  justify-content: center;
  gap: 0 44px;
  padding-top: 138px;
  margin: 0px;
  overflow: hidden;
}

.partner-card {
  border: 1px white;
  border-radius: 16px;
  padding: 36px 21px 20px 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  mix-blend-mode: soft-light;
}

.img-wrapper {
  width: 172px;
  height: 50px;
  position: relative;
  bottom: 10px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-wrapper {
  justify-content: center;
  gap: 45px;
  left: 14%;
}
.swiper-slide {
  width: 213px !important;
}

@media only screen and (max-width: 560px) {
  .arrow-img {
    display: none;
  }
  .heading {
    position: absolute;
    top: -80px;
    font-size: 24px;
    height: 32px;
  }
  .features-section {
    top: 576px;
    height: 318px;
  }
  .partner-frame1088 {
    position: absolute;
    top: -120px;
    width: 100%;
    height: 230px;
  }
  .control-left,
  .control-right {
    display: none;
  }
  .partner-list {
    width: 100%;
    left: unset;
  }
}

@media only screen and (min-width: 561px) and (max-width: 740px) {
  .arrow-img {
    display: none;
  }
  .heading {
    position: absolute;
    top: -80px;
    font-size: 24px;
    height: 32px;
  }
  .features-section {
    top: 576px;
    height: 318px;
  }
  .partner-frame1088 {
    position: absolute;
    top: -120px;
    width: 100%;
    height: 230px;
  }
  .control-left,
  .control-right {
    display: none;
  }
  .partner-list {
    width: 100%;
    left: unset;
  }
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
  .control-left {
    left: 5%;
    top: 70%;
  }
  .control-right {
    right: 5%;
    top: 70%;
  }
}
